<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Notepadqq"> <action name="Execute">
                <execute>notepadqq</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>xterm -e python</execute>
            </action> </item>
            <item label="Sublime Text"> <action name="Execute">
                <execute>subl</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="AA Fire"> <action name="Execute">
                <execute>xterm -e aafire -driver slang</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Text Editor"> <action name="Execute">
                <execute>gedit</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
            <menu id="11" label="Board">
                <item label="Monopoly"> <action name="Execute">
                    <execute>xterm -e monop</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="dotty"> <action name="Execute">
                <execute>dotty</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="GraphicsMagick"> <action name="Execute">
                <execute>gm display logo:</execute>
            </action> </item>
            <item label="Inkscape"> <action name="Execute">
                <execute>inkscape</execute>
            </action> </item>
            <item label="lefty"> <action name="Execute">
                <execute>lefty</execute>
            </action> </item>
            <item label="LibreOffice Draw"> <action name="Execute">
                <execute>libreoffice --draw</execute>
            </action> </item>
            <item label="Pinta"> <action name="Execute">
                <execute>pinta</execute>
            </action> </item>
            <item label="The GIMP"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
            <item label="Audacity"> <action name="Execute">
                <execute>audacity</execute>
            </action> </item>
            <item label="Audacity"> <action name="Execute">
                <execute>env UBUNTU_MENUPROXY=0 audacity</execute>
            </action> </item>
            <item label="Clementine"> <action name="Execute">
                <execute>clementine</execute>
            </action> </item>
            <item label="OBS Studio"> <action name="Execute">
                <execute>obs</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
            <item label="Shotcut"> <action name="Execute">
                <execute>shotcut</execute>
            </action> </item>
            <item label="Spotify"> <action name="Execute">
                <execute>spotify</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>qvlc</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Discord"> <action name="Execute">
                <execute>discord</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Thunderbird"> <action name="Execute">
                <execute>thunderbird</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="Tor Browser (pl)"> <action name="Execute">
                <execute>tor-browser</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="LibreOffice Calc"> <action name="Execute">
                <execute>libreoffice --calc</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice --impress</execute>
            </action> </item>
            <item label="LibreOffice Math"> <action name="Execute">
                <execute>libreoffice --math</execute>
            </action> </item>
            <item label="LibreOffice Writer"> <action name="Execute">
                <execute>libreoffice --writer</execute>
            </action> </item>
        </menu>
        <menu id="39" label="Other">
            <item label="Snapper GUI"> <action name="Execute">
                <execute>snapper-gui</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="MC"> <action name="Execute">
                <execute>xterm -e mc</execute>
            </action> </item>
            <item label="Oracle VM VirtualBox"> <action name="Execute">
                <execute>VirtualBox</execute>
            </action> </item>
            <item label="ranger"> <action name="Execute">
                <execute>xterm -e ranger</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                <execute>virtualbox</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Bluetooth"> <action name="Execute">
                        <execute>blueberry</execute>
                    </action> </item>
                    <item label="LightDM GTK+ Greeter settings"> <action name="Execute">
                        <execute>lightdm-gtk-greeter-settings-pkexec</execute>
                    </action> </item>
                </menu>
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default applications for LXSession"> <action name="Execute">
                    <execute>lxsession-default-apps</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Desktop Session Settings"> <action name="Execute">
                    <execute>lxsession-edit</execute>
                </action> </item>
                <item label="Grub Customizer"> <action name="Execute">
                    <execute>grub-customizer</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="NVIDIA X Server Settings"> <action name="Execute">
                    <execute>nvidia-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Qt5 Settings"> <action name="Execute">
                    <execute>qt5ct</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Cairo-Dock"> <action name="Execute">
                <execute>cairo-dock</execute>
            </action> </item>
            <item label="Cairo-Dock (Fallback Mode)"> <action name="Execute">
                <execute>cairo-dock -A</execute>
            </action> </item>
            <item label="fish"> <action name="Execute">
                <execute>xterm -e fish</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>xterm -e htop</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree</execute>
            </action> </item>
            <item label="Pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="SUSE Studio Imagewriter"> <action name="Execute">
                <execute>imagewriter</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="Console Matrix (Text)"> <action name="Execute">
                <execute>xterm -e cmatrix</execute>
            </action> </item>
            <item label="Console Matrix (Virtual Console)"> <action name="Execute">
                <execute>xterm -e cmatrix -l</execute>
            </action> </item>
            <item label="Console Matrix (X11)"> <action name="Execute">
                <execute>cmatrix -x</execute>
            </action> </item>
            <item label="Galculator"> <action name="Execute">
                <execute>galculator</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Plank"> <action name="Execute">
                <execute>plank</execute>
            </action> </item>
            <item label="Simplenote"> <action name="Execute">
                <execute>simplenote</execute>
            </action> </item>
            <item label="Stacer"> <action name="Execute">
                <execute>stacer</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>xterm -e xev</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
